
html {
    background-color: rgba(0, 0, 0, 0);}

body {margin:10vh;
    font-family: "ltc-caslon-pro", "times new roman", serif;
    background-color: rgba(0, 0, 0, 0);}

.home{
color: rgba(255, 255, 255, 0)}

details {
    user-select: none;
  }
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
  }
  
  details[open] summary span.icon {
    transform: rotate(180deg);
  }
  
  summary {
    display: flex;
    cursor: pointer;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
