html,
body {
  height: 100%;
  cursor: url("../Project-2/Assets/SpinelHelpSelect.cur"), default;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: rgb(245, 139, 255);
  display: flex;
}

div {
  display: block;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.box1 {
  padding: 15px;
  width: 30vw;
  height: 58vh;
  overflow: auto;
  display: inline-block;
  border: 7px dotted rgb(0, 255, 242);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.box1::-webkit-scrollbar {
  height: 5px;
  background-color: rgb(245, 169, 188);
}
.box1::-webkit-scrollbar-thumb {
  background: rgb(23, 255, 185);
}
.p1 {
  background-color: red;
  background-image: linear-gradient(
    70deg,
    rgb(236, 157, 39),
    rgb(31, 173, 31),
    rgb(51, 51, 228),
    rgb(123, 25, 192),
    rgb(224, 39, 147)
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.box2 {
  padding: 18px;
  background: transparent;
  width: 33vw;
  height: 31vh;
  overflow: auto;
  display: inline-block;
  border: 4px dotted rgb(0, 255, 242);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  margin: -23px;
  margin-top: 60vh;
}

.box2::-webkit-scrollbar {
  height: 5px;
  background-color: rgb(56, 125, 255);
}
.box2::-webkit-scrollbar-thumb {
  background: rgb(255, 235, 18);
}

.p2 {
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.box3 {
  padding: 15px;
  right: 1vw;
  background: transparent;
  width: 21vw;
  height: 20vh;
  overflow: auto;
  display: inline-block;
  border: 14px dotted rgb(104 255 137);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  margin-top: 22vh;
}

.box3::-webkit-scrollbar {
  background-color: rgb(137, 165, 214);
  border-radius: 15px;
}

.box3::-webkit-scrollbar-track {
  border-radius: 15px;
}
.box3::-webkit-scrollbar-thumb {
  background: rgb(121, 110, 187);
  border-radius: 15px;
}

.p3 {
  font-style: italic;
  color: rgb(72, 185, 185);
}

.box4 {
  padding: 15px;
  right: 1vw;
  background: transparent;
  width: 37vw;
  height: 62vh;
  overflow: auto;
  display: inline-block;
  border: 5px solid rgb(116, 33, 226);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  margin-top: 76vh;
}

.p4 {
  font: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgb(143, 95, 51);
}

.box4::-webkit-scrollbar {
  background-color: rgb(112, 65, 104);
  border-radius: 15px;
}

.box4::-webkit-scrollbar-track {
  border-radius: 15px;
}
.box4::-webkit-scrollbar-thumb {
  background: rgb(255, 79, 226);
  border-radius: 15px;
}

/* next button */

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  margin-left: 50vw;
  padding: 1em 2em;
  margin-top: 37px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: absolute;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(235, 58, 149, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
