html, body {
    height: 100%;
    background: black;
  }
  
  canvas {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.025);
    image-rendering: pixelated;
  }
  
  img {
 display:none; 
  }

 .paragraphs {
    position: fixed;
    width: auto;
    height: auto;
    top: 15%;
    right: 0;
    bottom: 100px;
    left: 10em;
    background-color: #fff9f3;
    color: #d10068;
    text-align: left;
    padding: 35px;
    overflow-y: scroll;
    opacity: 0.7;
    text-align: justify;
 }
#a {
    text-decoration: wavy;
}
 #aa {
     color: rgb(0, 0, 0);
 }

 .pp {
   color:black
 }

 .btn{
position:absolute;
transform:translate(10,10);
}

