/* Basic page style  */
html {
    min-height: 100%;
}


body {
  background-color: rgb(120, 77, 133);
  background: linear-gradient(180deg, rgba(135,133,240,1) 0%, rgba(148,107,149,1) 23%, rgba(187,77,161,1) 39%, rgba(108,77,120,1) 54%, rgba(192,48,247,1) 70%, rgba(80,41,94,1) 80%, rgba(137,101,150,1) 98%);

}

/* Page structure */
.wrapper {
    position:relative;
    width:100%;
    display: flex;
}
.wrapper section {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Floating Glitch */
.aaa {
    width: 2vw;
    height:2vw;
     animation: redd .2s 0.1s infinite steps(13, end);
    position:fixed;
    opacity: 1;
    }

.bbb {
    width: 1vw;
    height:5vw;
    animation: pulse .15s 0.09s infinite steps(13, end);
    position:fixed;
    opacity: 0.6;
    }

.ccc {
    width: 8vw;
    height:1vw;
    animation: bluue .1s 0.08s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.ddd {
    width: 3vw;
    height:3vw;
    animation: pulse .12s 0.02s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.eee {
    width: 6vw;
    height:2vw;
    animation: blink .09s 0.008s infinite steps(13, end);
    position:fixed;
    opacity: 1;  
}

.fff {
    width: 4vw;
    height: 4vw;
    animation: redd .09s 0.019s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.ggg {
    width: 5vw;
    height: 7vw;
    animation: blink .09s 0.019s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.hhh {
    width: 3vw;
    height: 3vw;
    animation: bluue .09s 0.019s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.iii {
    width: 6vw;
    height: 2vw;
    animation: pulse .1s 0.08s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.jjj {
    width: 5vw;
    height: 5vw;
    animation: blink .09s 0.019s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.kkk {
    width: 5vw;
    height: 3vw;
    animation: pulse .1s 0.08s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.lll {
    width: 4vw;
    height: 2vw;
    animation: redd .09s 0.019s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.mmm {
    width: 5vw;
    height: 4vw;
    animation: blink .12s 0.02s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.nnn {
    width: 2vw;
    height: 2vw;
    animation: blink .1s 0.08s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.ooo {
    width: 4vw;
    height: 4vw;
    animation: pulse .12s 0.02s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.ppp {
    width: 6vw;
    height: 2vw;
    animation: bluue .09s 0.019s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.qqq {
    width: 5vw;
    height: 5vw;
    animation: pulse .12s 0.02s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.rrr {
    width: 2vw;
    height: 2vw;
    animation: bluue .15s 0.09s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.sss {
    width: 3vw;
    height: 3vw;
    animation: redd pulse .1s 0.08s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.ttt {
    width: 2vw;
    height: 2vw;
    animation: redd .09s 0.019s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.uuu {
    width: 5vw;
    height: 5vw;
    animation: blink .15s 0.09s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.vvv {
    width: 5vw;
    height: 1vw;
    animation: bluue .12s 0.02s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.www {
    width: 3vw;
    height: 3vw;
    animation: pulse .15s 0.09s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}
.xxx{
    width: 6vw;
    height: 6vw;
    animation: blink .12s 0.02s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.yyy{
    width: 7vw;
    height: 2vw;
    animation: pulse .12s 0.02s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}

.zzz{
    width: 4vw;
    height: 1vw;
    animation: bluue .12s 0.02s infinite steps(13, end);
    position:fixed;
    opacity: 1;
}
/* Heading */

.heading {
font-family: memoriam-inline-pro,sans-serif;
font-weight: 400;
font-style: normal;
font-size:60px;
display: flex;
justify-content: center;
padding: 30px;
}

/* phone */
@media (max-width: 400px) 
{ 
    .heading {
        font-family: memoriam-inline-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:40px;
        display: flex;
        justify-content: center;
        padding: 30px;
        }
 }

 /* KF */
 @keyframes pulse {
    0% {
     background-color: #FFFFFF;
     }
     8% {
     background-color: #FFFFFF;
     }
     16% {
     background-color: #babbbf;
     }
     24% {
     background-color: #ff0000;
     }
     32% {
     background-color: #ff00f0;
     }
     40% {
     background-color: #8a00ff;
     }
     48% {
     background-color: #000cff;
         }
     56% {
     background-color: #00deff;
     }
     64% {
     background-color: #00ff00;
     }
     72% {
     background-color: #f6ff00;
     }
     80% {
     background-color: #ff9000;
     }
     88% {
     background-color: #f9f9f9;
   }
     95% {
     background-color: #FFFFFF;
     }
   100% {
     background-color: #FFFFFF;
   }
 }

 @keyframes blink {
    0% {
     background-color: #FFFFFF;
     }
     8% {
     background-color: #FFFFFF;
     }
     16% {
     background-color: #babbbf;
     }
     24% {
     background-color: #ff0000;
     }
     32% {
     background-color: #ff00f0;
     }
     40% {
     background-color: #8a00ff;
     }
     48% {
     background-color: #000cff;
         }
     56% {
     background-color: #00deff;
     }
     64% {
     background-color: #00ff00;
     }
     72% {
     background-color: #f6ff00;
     }
     80% {
     background-color: #ff9000;
     }
     88% {
     background-color: #f9f9f9;
   }
     95% {
     background-color: #FFFFFF;
     }
   100% {
     background-color: #FFFFFF;
   }
 }

 @keyframes redd {
    0% {
     background-color: #ff0000;
     }
     8% {
     background-color: #ff00d4;
     }
     16% {
     background-color: #ffffff;
     }
     24% {
     background-color: #f9cbff;
     }
     32% {
     background-color: #ff0000;
     }
     40% {
     background-color: #8a00ff;
     }
     48% {
     background-color: #b3ffb7;
         }
     56% {
     background-color: #00ff00;
     }
     64% {
     background-color: #ff9a9a;
     }
     72% {
     background-color: #ff3300;
     }
     80% {
     background-color: #fffb00;
     }
     88% {
     background-color: #ff4646;
   }
     95% {
     background-color: #ff0000;
     }
   100% {
     background-color: #ffffff;
   }
 }

 @keyframes bluue {
    0% {
     background-color: #ffffff;
     }
     8% {
     background-color: #a200ff;
     }
     16% {
     background-color: #2600ff;
     }
     24% {
     background-color: #f6b0ff;
     }
     32% {
     background-color: #00b7ff;
     }
     40% {
     background-color: #00f7ff;
     }
     48% {
     background-color: #b3ffb7;
         }
     56% {
     background-color: #00ff00;
     }
     64% {
     background-color: #9ac6ff;
     }
     72% {
     background-color: #0011ff;
     }
     80% {
     background-color: #00f7ff;
     }
     88% {
     background-color: #2600ff;
   }
     95% {
     background-color: #00ff22;
     }
   100% {
     background-color: #00f7ff;
   }
 }